.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px
}



/* Esconde tudo exceto o que está dentro de .printArea durante a impressão */
@media print {

    /* .printArea,
    .printArea * {
        visibility: visible;
    }

    .container {
        z-index: 2;
        visibility: visible;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    } */

     /* Esconde o botão de impressão na hora de imprimir */
    /* .printButton {
        display: none;
    } */

    .buttons{
        display: none;
    }
}