.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 2;
}

/* Esconde tudo exceto o que está dentro de .printArea durante a impressão */
@media print {
    /* .main * {
        visibility: hidden;
        position: relative;
    } */

    .printArea,
    .printArea * {
        visibility: visible;
    }

    .container {
        z-index: 2;
        visibility: visible;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .printButton {
        display: none; /* Esconde o botão de impressão na hora de imprimir */
    }
}